.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  margin: 92px 50px 92px 50px;
  color: #000;
  font-size: 18px;
  font-style: normal;
}

.header_menu {
  padding-right: 44px;
}

.header_links {
  text-decoration: none;
}

.header_links_list {
  display: flex;
  justify-content: space-between;
  list-style: circle;
  white-space: nowrap;
}

.header_menu_item {
  border-bottom: 1px solid #000;
}

.header_menu_item_active {
  border-bottom: none;
  list-style: none;
}

.header_logo {
  display: block;
  width: 137px;
}

.header_logo_image {
  width: 100%;
}

.header_adress {
  font-style: normal;
}

.address {
  display: flex;
  justify-content: flex-end;
  padding-right: 38px;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration: none;
}

.no_bullit {
  list-style: none;
}

.cover {
  position: relative;
  z-index: 1;
  padding-right: 50px; 
  padding-left: 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center top;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  z-index: 2;
  width: 100%;
  
}

.cover_text {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em; 
  text-transform: uppercase;
}

.aligned_text_center {
  justify-self: center;
  align-self: center;
  max-width: 339px;
}

.aligned_text_right {
  justify-self: end;
  align-self: end;
  max-width: 387px;
}

.cover_description {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 105px 0px 50px 0px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover_description > .bet_button {
  min-width: 256px;
  border: 1px solid #fff;
  padding: 10px 0;
  color: #FFF;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 118px;
}

.lots_heading {
  display: flex;
  justify-content: flex-start;
  padding: 0 173px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots_card_list_item {
  min-height: 596px;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  padding: 48px 40px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_link {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.card_text {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.more {
  display: inline-block;
  margin-top: 30px;
  margin-left: 41px;
  color: #000;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  margin: 0;
  color: #000;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000;
  
}

.about_column {
  margin-left: 50px;
}

.about_logo_image {
  display: block;
  width: 60%;
}

.about_title {
  display: flex;
  padding-top: 136px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  padding-right: 24px;
  font-size: 20px;
  line-height: 24px;
  text-wrap: balance;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  margin-top: 157px;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer_adress {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  text-wrap: nowrap;
}

.footer_menu {
  font-size: 18px; 
}

.footer_links {
  text-decoration: none;
}

.footer_links_list {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  list-style: none;
}

.footer_menu_item {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer_menu_item_active {
  border-bottom: none;
  list-style: none;
}

.footer_social_link_list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer_social_list_item {
  list-style: none;
}

.footer_social_icon {
  width: 48px;
}