.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 92px 50px 96px 50px;
  max-width: 1100.0px;
  max-height: 293.0px;

}

.header_menu {
  display: grid;
  align-items: center;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin-left: 4px;
  margin-bottom: 3.4px;

}

.header_links_list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 12.7px; 
  width: 391.5px;
  height: 22.0px; 
  padding-right: 8.7px;
  list-style: circle;
  white-space: nowrap;
  
}

.header_menu_item {
text-decoration: underline;
}

.header_menu_item_active {
  text-decoration: none;
  list-style: none;
  
}

.header_logo {
  display: block;
  width: 137px;
  margin-left: 4.5px;
  
}

.header_logo_image {
  width: 100%;
  
}

.address {
  display: grid;
  padding: 2px 0px 7px 189px;
  justify-self: end;
}

.header_adress_list {
  list-style: none;
}
.header_adress_item_links {
  text-decoration: none;
  border-bottom: 1.6px solid #000;
}

.header_adress {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.cover { 
  position: relative;
  z-index: 1;
  max-width: 1100px;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  padding: 165px 50px 207px 50px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.cover_text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    color: #fff;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0.3em; 
    text-transform: uppercase;
    
}

.aligned_text_center {
  max-width: 339px;
  justify-self: center;
  align-self: center;
}

.aligned_text_right {
  max-width: 387px;
  justify-self: end;
  align-self: end;
}

.cover_description {
  min-width: 637px ;
  min-height: 28px ;
  display: grid;
  align-items: baseline;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 51px;
  padding: 105px 0px 50px 0px;
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover_description > .bet_button {
  min-height: 51px;
  min-width: 256px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #FFF;
}

.lots {
  margin: 180px 24px 0px;
}

.lots_heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

}

.lots_card_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: #FFF;
}

.lots_card_list_item {
  min-width: 334px;
  min-height: 596px;
  
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 48px 40px;
  position: relative;
  min-height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_link {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_text {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.more {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 118px;
  color: #000;
  font-size: 20px;
}

.about {
  margin: 0;
  color: #000;
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;

}


.about_logo {
  margin-top: 35px;
  margin-left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  
}
.about_column {
  margin-left: 50px;
}

.about_logo_image {
  display: block;
  width: 60%;
}


.about_title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 136px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  

  
}